nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    font-size: .75rem;
}
nav > ul{
    display: flex;
    flex: 25%;
    justify-content: space-between;
}
nav > h3{
    display: flex;
    flex: 20%;
    justify-content: flex-start;
    color: var(--bg-blue);
    font-size: 2rem;
}
nav > div{
    display: flex;
    flex: 20%;
    justify-content: flex-end;
    gap:.5rem;
}
.btn_primary{
    background: #fff;
    
}
nav > div .btn{
    font-size: .75rem;
    border: .5px solid var(--bg-blue);
    border-radius: 3px;
}
